 

<link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.19.0/handsontable.full.css">
<link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
<script src="../plugins/handsontable/handsontable.full.js"></script>
<script src="../plugins/handsontable/handsontable-chosen-editor.js"></script>
<script src="../fonds.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>

<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script src="../plugins/jquery.blockUI.js"></script>


<style>
.bbtn {
    background: #3498db linear-gradient(to bottom, #3498db, #2980b9) repeat scroll 0 0;
    border-radius: 27px;
    color: #ffffff;
    display: table;
    font-family: Arial;
    font-size: 20px;
    left: 20%;
    top : 30%;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    margin-top: 5%;
}

.bbtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
</style>